<% if (page.tag) { %>
<a href="<%- config.root %>" class="home-navigator">
  <img alt="this is me" class="my-avatar" src="<%- config.root %>img/me.jpg"/>
</a>
<% } %>
<div class="index-page">
    <% if (!page.tag) { %>
    <div class="left-nav">
        <img alt="this is me" class="my-avatar" src="<%- config.root %>img/me.jpg"/>
        <h1 class="logo">The happy lone guy</h1>
        <p class="description">I'm an introvert and I'll start sweating profusely if someone makes me to talk about my feelings so I made this home for my feelings and thoughts and yes I do write about technical stuff too, don't worry.</p>
        <div class="separator"></div>
        <ul class="menu">
            <li><a href="rss.xml" class="content">RSS</a></li>
            <li><a href="2019/06/02/why-the-happy-lone-guy/" class="content">My story</a></li>
            <li><a href="https://twitter.com/ZeroX_Hung" class="content">Twitter</a></li>
            <li><a href="https://github.com/ZeroX-DG" class="content">Github</a></li>
            <li><a href="https://ko-fi.com/viethung" class="content">Buy me a coffee</a></li>
        </ul>
    </div>
    <% } %>
    <div class="blog-post-list<%= page.tag ? ' center' : '' %>">
        <% if (page.tag) { %>
          <h1>#<%- page.tag %></h1>
        <% } %>
        <% page.posts.each(function(item){ %>
            <%- partial('_partial/article-list-item', {item: item}) %>
        <% }); %>
    </div>
    <% if (page.tag) { %>
    <div class="tag-list center">
        <p style="font-size: 20px; font-weight: bold;">Other tags:</p>
        <% site.tags.each(function(tag) {%>
            <a href="<%- config.root %><%- tag.path %>" class="tag">
                #<%- tag.name %>
            </a>
        <% }); %>
    </div>
    <% } %>
</div>
